/*----------------
Common Styles
----------------*/
:root{
	--color-1: #45308A;
	--color-2: #D23A83;
	--color-3: #000821;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
.pl-2{
	padding-left: 20px;
}

/*-------------------------------
Register and Login Pages Styles
-------------------------------*/
.login-wrapper{
	widows: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	background-color: var(--color-1);
}
.login-wrapper .left{
	width: 50%;
	padding: 50px 0 50px 50px;
	background-color: var(--color-1);
}
.login-wrapper .left .text-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.47);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 0 50px;
	border-right: 0;
	color: #ffffff;
	word-break: break-all;
}
.login-wrapper .left .text-wrapper .circle-1{
	width: 90px;
	height: 90px;
	background: rgba(255, 255, 255, 0.09);;
	border-radius: 50%;
}
.login-wrapper .left .text-wrapper .circle-1{
	position: absolute;
	top: 50px;
	right: 50px;
}
.login-wrapper .left .text-wrapper .circle-2{
	width: 40px;
	height: 40px;
	background: rgba(255, 255, 255, 0.09);;
	border-radius: 50%;
}
.login-wrapper .left .text-wrapper .circle-2{
	position: absolute;
	top: 140px;
	right: 140px;
}
.login-wrapper .left .text-wrapper .circle-3{
	position: absolute;
	bottom: 100px;
	left: 60px;
	width: 70px;
	height: 70px;
	background: rgba(255, 255, 255, 0.09);;
	border-radius: 50%;
}
.login-wrapper .left .text-wrapper .circle-4{
	position: absolute;
	bottom: 70px;
	left: 130px;
	width: 30px;
	height: 30px;
	background: rgba(255, 255, 255, 0.09);;
	border-radius: 50%;
}
.login-wrapper .left .text-wrapper h3{
	font-size: 40px;
	font-weight: 300;
}
.login-wrapper .left .text-wrapper .divider{
	width: 50%;
	margin: 10px 0 20px 0;
	height: 3px;
	background-color: #ffffff;
}
.login-wrapper .left .text-wrapper h2{
	font-family: 'PT Sans', sans-serif;
	font-size: 48px;
}
.login-wrapper .left .text-wrapper p{
	font-size: 24px;
	font-weight: 300;
}
.login-wrapper .right{
	width: 50%;
	padding: 50px 50px 50px 0;
	background-color: #ffffff;
}
.login-wrapper .right .form-wrapper{
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.47);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 50px 0;
	border-left: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}
.login-wrapper .right .form-wrapper .form-img{
	width: 200px;
	display: block;
	margin: auto;
}
.login-wrapper .right .form-wrapper .heading{
	font-size: 40px;
	text-align: center;
	margin: 15px 0;
	font-weight: 500;
	color: var(--color-3);
}
.login-wrapper .right .form-wrapper .description{
	font-size: 22px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 400;
	color: var(--color-3);
}
.login-wrapper .right .form-wrapper form{
	width: 70%;
	margin: 25px auto;
}
.login-wrapper .right .form-wrapper form .cust-form-group{
	width: 100%;
	height: 50px;
	padding: 0 30px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1.5px solid #000821;
	border-radius: 5px;
	margin-bottom: 20px;
}
.login-wrapper .right .form-wrapper form .cust-form-group .cust-form-control{
	width: 90%;
	height: 100%;
	border: none;
	outline: none;
	display: block;
	font-size: 20px;
	font-weight: 300;
	padding-top: 5px;
	color: var(--color-3);
}
.login-wrapper .right .form-wrapper form .cust-form-group .cust-form-control::placeholder{
	font-size: 20px;
	font-weight: 300;
	color: var(--color-3);
}
.login-wrapper .right .form-wrapper form .forget-password-link {
	text-align: right;
	margin-bottom: 30px;
}
.login-wrapper .right .form-wrapper form .forget-password-link a{
	font-size: 20px;
	color: #FC0000;
	font-weight: 400;
	transition: all 0.5s ease;
}
.login-wrapper .right .form-wrapper form .forget-password-link a:hover{
	font-weight: 600;
}
.login-wrapper .right .form-wrapper form .login-register-btns{
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.login-wrapper .right .form-wrapper form .login-register-btns a,
.login-wrapper .right .form-wrapper form .login-register-btns button{
	width: 48%;
	padding: 15px 0;
	border: 1px solid #45308A;
	border-radius: 5px;
	font-size: 20px;
	color: #45308A;
	font-weight: 500;
	text-align: center;
	transition: all 0.5s ease;
	cursor: pointer;
}
.login-wrapper .right .form-wrapper form .login-register-btns button,
.login-wrapper .right .form-wrapper form .login-register-btns a:hover,
.login-wrapper .right .form-wrapper form .login-register-btns a.active{
	background-color: #45308A;
	color: white;
}
.login-wrapper .right .form-wrapper form .send-code-btn{
	text-align: center;
	margin: 20px 0;
}
.login-wrapper .right .form-wrapper form .send-code-btn button{
	width: 48%;
	padding: 15px 0;
	border: 1px solid #45308A;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	transition: all 0.5s ease;
	cursor: pointer;
	background-color: #45308A;
	color: white;
}
.login-wrapper .right .form-wrapper form .or-text{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 40px 0;
}
.login-wrapper .right .form-wrapper form .or-text p{
	font-size: 18px;
	font-weight: 600;
	color: var(--color-3);
}
.login-wrapper .right .form-wrapper form .or-text .left-line,
.login-wrapper .right .form-wrapper form .or-text .right-line{
	width: 90px;
	height: 1px;
	margin-right: 20px;
	background-color: var(--color-3);
}
.login-wrapper .right .form-wrapper form .or-text .right-line{
	margin-left: 20px;
}
.login-wrapper .right .form-wrapper form .social-btns{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.login-wrapper .right .form-wrapper form .social-btns button{
	width: 32%;
	padding: 12px 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.login-wrapper .right .form-wrapper form .social-btns button.facebook-btn{
	background-color: #1877F2;
}
.login-wrapper .right .form-wrapper form .social-btns button.google-btn{
	background-color: #EA4335;
}
.login-wrapper .right .form-wrapper form .social-btns button.twitter-btn{
	background-color: #55ACEE;
}
.login-wrapper .right .form-wrapper form .social-btns button img{
	width: 30px;
}
.login-wrapper .right .form-wrapper form .cust-checkbox{
	margin-bottom: 30px;
}
.login-wrapper .right .form-wrapper form .cust-checkbox .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--color-3);
}
.login-wrapper .right .form-wrapper form .cust-checkbox .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  background-color: transparent;
}
.login-wrapper .right .form-wrapper form .cust-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #000000;
  border-radius: 3px;
}
.login-wrapper .right .form-wrapper form .cust-checkbox .container input:checked ~ .checkmark {
  background-color: transparent;
}
.login-wrapper .right .form-wrapper form .cust-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.login-wrapper .right .form-wrapper form .cust-checkbox .container input:checked ~ .checkmark:after {
  display: block;
}
.login-wrapper .right .form-wrapper form .cust-checkbox .container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 4px;
  height: 12px;
  border: solid var(--color-3);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.login-wrapper .right .form-wrapper form .cust-checkbox .container a{
	color: var(--color-3);
	font-weight: 700;
}
.login-wrapper .right .form-wrapper form .back-link{
	text-align: center;
	padding-top: 30px;
}
.login-wrapper .right .form-wrapper form .back-link a{
	font-size: 24px;
	font-weight: 500;
	color: var(--color-3);
}
.login-wrapper .right .form-wrapper form .resend-code-btn{
	text-align: center;
	margin-bottom: 40px;
}
.login-wrapper .right .form-wrapper form .resend-code-btn button{
	background-color: transparent;
	border: none;
	font-size: 22px;
	font-weight: 600;
	color: #D20000;
	text-transform: capitalize;
	text-decoration: underline;
	cursor: pointer;
}

/*---------------
Header Styles
---------------*/
.subscriber-plan-header{
	width: 100%;
	height: 500px;
	background-image: url('../img/header-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.subscriber-plan-header .navbar{
	width: 90%;
	margin: 0 auto;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.subscriber-plan-header .navbar ul li{
	display: inline-block;
}
.subscriber-plan-header .navbar ul li a{
	font-size: 22px;
	font-weight: 300;
	color: #ffffff;
	padding: 5px 25px;
	text-transform: capitalize;
	transition: all 0.5s ease;
	border-radius: 3px;
}
.subscriber-plan-header .navbar ul li a:hover,
.subscriber-plan-header .navbar ul li a.active{
	background: #F2F2F2;
	color: var(--color-1);
	font-weight: 600;
}
.subscriber-plan-header .navbar .start-as-guest-btn a{
	font-size: 22px;
	font-weight: 600;
	color: #ffffff;
	padding: 15px 25px;
	text-transform: capitalize;
	transition: all 0.5s ease;
	border: 1px solid #FFFFFF;
	border-radius: 6px;
}
.subscriber-plan-header .navbar .start-as-guest-btn a:hover,
.subscriber-plan-header .navbar .start-as-guest-btn a.active{
	background: #F2F2F2;
	color: var(--color-1);
}
.subscriber-plan-header .navbar .toggler-btn{
	display: none;
}
.subscriber-plan-header .navbar .toggler-btn button{
	font-size: 34px;
	background-color: transparent;
	border: none;
	color: #ffffff;
}
.subscriber-plan-header .heading{
	text-align: center;
	margin: 40px 0 10px 0;
}
.subscriber-plan-header .heading h1{
	font-size: 50px;
	font-weight: 600;
	color: #ffffff;
	text-transform: capitalize;
}
.subscriber-plan-header .description{
	text-align: center;
}
.subscriber-plan-header .description p {
	font-size: 30px;
	font-weight: 300;
	color: #ffffff;
}
/*-------------------
Mobile Menu Styles
-------------------*/
.subscriber-plan-mobile-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.subscriber-plan-mobile-menu a {
  padding: 10px 8px 10px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  border-radius: 3px;
}
.subscriber-plan-mobile-menu a:hover,
.subscriber-plan-mobile-menu a.active {
  background: #F2F2F2;
	color: var(--color-1);
	font-weight: 600;
}
.subscriber-plan-mobile-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
}

/*------------------------
Pricing Plan Page Styles
------------------------*/
.pricing-plan-items{
	width: 80%;
	margin: -150px auto 50px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.pricing-plan-items .pricing-plan-item{
	width: 31%;
	background: #FFFFFF;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-header{
	width: 100%;
	background: #FB7B05;
	padding: 20px 0;
	border-radius: 10px 10px 0px 0px;
}
.pricing-plan-items .standard-plan.pricing-plan-item .pricing-plan-item-header{
	background-color: #1877F2;
}
.pricing-plan-items .premium-plan.pricing-plan-item .pricing-plan-item-header{
	background-color: #D23A83;
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-header .plan-name{
	text-align: center;
	font-size: 24px;
	color: #ffffff;
	font-weight: 500;
	text-transform: capitalize;
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-body{
	padding: 30px 20px;
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-price{
	font-size: 28px;
	font-weight: 500;
	color: #FB7B05;
	text-align: center;
	text-transform: capitalize;
}
.pricing-plan-items .standard-plan.pricing-plan-item .pricing-plan-item-body .plan-price{
	color: #1877F2;
}
.pricing-plan-items .premium-plan.pricing-plan-item .pricing-plan-item-body .plan-price{
	color: #D23A83;
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-price span{
	font-size: 24px;
	color: #BDBDBD;
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-description{
	padding: 20px 0;
	text-align: center;
	border-bottom: 1px solid #BDBDBD;
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-description p{
	font-size: 18px;
	font-weight: 300;
	padding: 0 30px;
	color: var(--color-3);
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-features{
	padding: 30px 0 20px 0;
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-features ul li{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-features ul li .tick-circle{
	width: 10%;
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-features ul li img{
	width: 25px;
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-features ul li .text{
	width: 85%;
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-features ul li span{
	font-size: 18px;
	font-weight: 300;
	color: var(--color-3);
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .subscribe-btn{
	text-align: center;
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .subscribe-btn button{
	font-size: 17px;
	font-weight: 600;
	color: #FB7B05;
	background-color: transparent;
	border: 1px solid #FB7B05;
	border-radius: 6.07314px;
	text-transform: capitalize;
	padding: 10px 0;
	width: 60%;
	cursor: pointer;
	transition: all 0.5s ease;
}
.pricing-plan-items .standard-plan.pricing-plan-item .pricing-plan-item-body .subscribe-btn button{
	color: #1877F2;
	border: 1px solid #1877F2;
}
.pricing-plan-items .premium-plan.pricing-plan-item .pricing-plan-item-body .subscribe-btn button{
	color: #D23A83;
	border: 1px solid #D23A83;
}
.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .subscribe-btn button:hover{
	background-color: #FB7B05;
	color: #ffffff;
}
.pricing-plan-items .standard-plan.pricing-plan-item .pricing-plan-item-body .subscribe-btn button:hover{
	background-color: #1877F2;
}
.pricing-plan-items .premium-plan.pricing-plan-item .pricing-plan-item-body .subscribe-btn button:hover{
	background-color: #D23A83;
}

/*--------------------
Payment Card Styles
--------------------*/
.payment-card{
	width: 60%;
	margin: -150px auto 50px auto;
	background: #FFFFFF;
	padding: 30px 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
.payment-card .heading h2{
	font-size: 40px;
	font-weight: 600;
	color: var(--color-3);
	text-transform: capitalize;
	text-align: center;
}
.payment-card .description{
	margin: 10px 0;
	text-align: center;
}
.payment-card .description p{
	font-size: 24px;
	font-weight: 300;
	color: var(--color-3);
}
.payment-card .card-details{
	width: 75%;
	margin: 20px auto;
}
.payment-card .card-details form .cust-form-group-cont{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 15px;
}
.payment-card .card-details form .cust-form-group{
	width: 48%;
	height: 50px;
	padding: 0 15px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1.5px solid #000821;
	border-radius: 5px;
	margin-bottom: 20px;
}
.payment-card .card-details form .cust-form-group .cust-form-control{
	width: 90%;
	height: 100%;
	border: none;
	outline: none;
	display: block;
	font-size: 20px;
	font-weight: 300;
	padding-top: 5px;
	color: var(--color-3);
}
.payment-card .card-details form .cust-form-group input[type="date"]{
	width: 100%;
}
.payment-card .card-details form .cust-form-group .cust-form-control::placeholder{
	font-size: 18px;
	font-weight: 300;
	color: var(--color-3);
}
.payment-card .card-details form .make-payment-btn button{
	width: 100%;
	background: #45308A;
	border-radius: 5px;
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	text-transform: capitalize;
	padding: 10px 0;
	cursor: pointer;
}



/*--------------------------------------
Register and Login Pages Modals Styles
---------------------------------------*/
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 60%;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.modal-content .modal-content-header{
	width: 100%;
	background-color: var(--color-1);
	border-radius: 10px 10px 0px 0px;
	padding: 20px 0;
}
.modal-content .modal-content-header .heading{
	font-size: 30px;
	text-align: center;
	color: #ffffff;
	font-weight: 500;
	text-transform: capitalize;
}
.modal-content .modal-content-header .heading img{
	width: 30px;
	margin-left: 10px;
	vertical-align: middle;
}
.modal-content .modal-content-body{
	padding: 30px 50px;
}
.modal-content .modal-content-body .modal-content-body-text{
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	color: var(--color-3);
}
.modal-content .modal-content-body .auth-code-items{
	width: 70%;
	margin: 50px auto 30px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.modal-content .modal-content-body .auth-code-items .auth-code-item{
	}
.modal-content .modal-content-body .auth-code-items .auth-code-item .auth-code-item-text{
	font-size: 22px;
	color: #000000;
	font-weight: 600;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #E2E2E2;
	border: none;
	outline: none;
}
.modal-content .modal-content-body .resend-code-btn{
	text-align: center;
	margin-bottom: 40px;
}
.modal-content .modal-content-body .resend-code-btn button{
	background-color: transparent;
	border: none;
	font-size: 22px;
	font-weight: 600;
	color: #D20000;
	text-transform: capitalize;
	text-decoration: underline;
}
.modal-content .modal-content-body .verify-login-btn{
	width: 65%;
	margin: 20px auto;
}
.modal-content .modal-content-body .verify-login-btn button{
	width: 100%;
	font-size: 22px;
	text-transform: capitalize;
	color: #ffffff;
	font-weight: 500;
	padding: 12px 0;
	cursor: pointer;
	border-radius: 5px;
	background-color: var(--color-1);
}
.modal-content .modal-content-body .not-now-btn{
	text-align: center;
	margin-bottom: 30px;
}
.modal-content .modal-content-body .not-now-btn button{
	background-color: transparent;
	border: none;
	font-size: 18px;
	font-weight: 400;
	color: #A0A0A0;
	cursor: pointer;
	text-transform: capitalize;
}
.modal-content .modal-content-body .success-img{
	margin-bottom: 20px;
}
.modal-content .modal-content-body .success-img img{
	width: 200px;
	margin: auto;
	display: block;
}
.modal-content .modal-content-body form{
	width: 70%;
	margin: 25px auto;
}
.modal-content .modal-content-body form .cust-form-group{
	width: 100%;
	height: 50px;
	padding: 0 30px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1.5px solid #000821;
	border-radius: 5px;
	margin-bottom: 20px;
}
.modal-content .modal-content-body form .cust-form-group .cust-form-control{
	width: 90%;
	height: 100%;
	border: none;
	outline: none;
	display: block;
	font-size: 20px;
	font-weight: 300;
	padding-top: 5px;
	color: var(--color-3);
}
.modal-content .modal-content-body form .cust-form-group .cust-form-control::placeholder{
	font-size: 20px;
	font-weight: 300;
	color: var(--color-3);
}
.modal-content .modal-content-body form .forget-password-link {
	text-align: right;
	margin-bottom: 30px;
}
.modal-content .modal-content-body form .forget-password-link a{
	font-size: 20px;
	color: #FC0000;
	font-weight: 400;
	transition: all 0.5s ease;
}
.modal-content .modal-content-body form .forget-password-link a:hover{
	font-weight: 600;
}
.modal-content .modal-content-body form .login-register-btns{
	margin: 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.modal-content .modal-content-body form .login-register-btns a,
.modal-content .modal-content-body form .login-register-btns button{
	width: 48%;
	padding: 15px 0;
	border: 1px solid #45308A;
	border-radius: 5px;
	font-size: 20px;
	color: #45308A;
	font-weight: 500;
	text-align: center;
	transition: all 0.5s ease;
	cursor: pointer;
	background-color: transparent;
}
.modal-content .modal-content-body form .login-register-btns button.active,
.modal-content .modal-content-body form .login-register-btns button:hover{
	background-color: #45308A;
	color: white;
}
#paymentDoneNotificationModal
.modal-content .modal-content-body .modal-content-body-text,
#paymentDoneApplicationApprovedModal .modal-content .modal-content-body .modal-content-body-text,
#applicationRejectedModal .modal-content .modal-content-body .modal-content-body-text{
	margin-bottom: 15px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}





/*--------------------------
Styles For Responsiveness
---------------------------*/
@media(max-width: 480px){
	.login-wrapper .left{
		width: 100%;
		padding: 20px 10px;
	}
	.login-wrapper .left .text-wrapper{
		padding: 70px 20px;
		border-radius: 10px;
		box-shadow: none;
	}
	.login-wrapper .left .text-wrapper .circle-1{
		top: 20px;
		right: 20px;
		width: 70px;
		height: 70px;
	}
	.login-wrapper .left .text-wrapper .circle-2{
		width: 30px;
		height: 30px;
		top: 80px;
		right: 80px;
	}
	.login-wrapper .left .text-wrapper h3{
		font-size: 36px;
	}
	.login-wrapper .left .text-wrapper h2{
		font-size: 30px;
	}
	.login-wrapper .left .text-wrapper p{
		font-size: 22px;
	}
	.login-wrapper .left .text-wrapper .circle-3{
		width: 60px;
		height: 60px;
		bottom: 40px;
		left: 20px;
	}
	.login-wrapper .left .text-wrapper .circle-4{
		bottom: 20px;
		left: 80px;
	}
	.login-wrapper .right{
		width: 100%;
		padding: 20px 10px;
	}
	.login-wrapper .right .form-wrapper{
		border-radius: 10px;
		box-shadow: none;
	}
	.login-wrapper .right .form-wrapper .heading{
		font-size: 36px;
	}
	.login-wrapper .right .form-wrapper .description{
		width: 95%;
		margin: auto;
		font-size: 18px;
	}
	.login-wrapper .right .form-wrapper form{
		width: 95%;
	}
	.login-wrapper .right .form-wrapper form .cust-form-group{
		padding: 0 15px;
	}
	.login-wrapper .right .form-wrapper form .login-register-btns a{
		padding: 12px 0;
	}
	.login-wrapper .right .form-wrapper form .or-text{
		margin: 30px 0;
	}
	.login-wrapper .right .form-wrapper form .social-btns button{
		padding: 10px 0;
	}

	.subscriber-plan-header .navbar{
		padding: 20px 0;
	}
	.subscriber-plan-header .navbar .start-as-guest-btn a{
		font-size: 18px;
	}
	.subscriber-plan-header .navbar ul.navbar-menu{
		display: none;
	}
	.subscriber-plan-header .navbar .toggler-btn{
		display: block;
	}
	.subscriber-plan-header .heading{
		margin: 40px 0 10px 0;
	}
	.subscriber-plan-header .heading h1{
		font-size: 30px;
	}
	.subscriber-plan-header .description p{
		padding: 0 20px;
		font-size: 20px;
	}

	.pricing-plan-items{
		width: 95%;
		margin-top: -200px;
	}
	.pricing-plan-items .pricing-plan-item{
		width: 100%;
		margin-bottom: 20px;
	}

	.payment-card{
		width: 95%;
		margin-top: -200px;
	}
	.payment-card .heading h2{
		font-size: 30px;
	}
	.payment-card .description p{
		font-size: 20px;
		padding: 0 20px;
	}
	.payment-card .card-details{
		width: 95%;
	}
	.payment-card .card-details form .cust-form-group-cont{
		margin-bottom: 0;
	}
	.payment-card .card-details form .cust-form-group{
		width: 100%;
	}


	.modal{
		padding-top: 30px;
	}
	.modal-content{
		width: 90%;
	}
	.modal-content .modal-content-header .heading{
		font-size: 20px;
	}
	.modal-content .modal-content-body{
		padding: 30px;
	}
	.modal-content .modal-content-body .modal-content-body-text{
		font-size: 18px;
	}
	.modal-content .modal-content-body .auth-code-items .auth-code-item .auth-code-item-text{
		font-size: 20px;
	}
	.modal-content .modal-content-body .auth-code-items{
		width: 65%;
		margin: 30px auto;
	}
	.modal-content .modal-content-body .auth-code-items .auth-code-item{
		margin-bottom: 10px;
	}
	.modal-content .modal-content-body .resend-code-btn button{
		font-size: 18px;
	}
	.modal-content .modal-content-body .verify-login-btn{
		width: 75%;
	}
	.modal-content .modal-content-body .verify-login-btn button{
		font-size: 18px;
	}
	.modal-content .modal-content-body form{
		width: 95%;
	}
	.modal-content .modal-content-body form .cust-form-group{
		padding: 0 15px;
	}
	.modal-content .modal-content-body form .login-register-btns button{
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
}
@media(min-width: 481px) and (max-width: 768px){
	.login-wrapper .left{
		padding: 70px 0 70px 30px;
	}
	.login-wrapper .left .text-wrapper{
		padding: 0 20px;
	}
	.login-wrapper .left .text-wrapper h3{
		font-size: 26px;
	}
	.login-wrapper .left .text-wrapper h2{
		font-size: 30px;
	}
	.login-wrapper .left .text-wrapper p{
		font-size: 20px;
	}
	.login-wrapper .right{
		padding: 70px 30px 70px 0;
	}
	.login-wrapper .right .form-wrapper{
		padding: 50px 20px;
	} 
	.login-wrapper .right .form-wrapper .form-img{
		margin: 0 auto;
	}
	.login-wrapper .right .form-wrapper .heading{
		font-size: 32px;
		margin-bottom: 0px;
	}
	.login-wrapper .right .form-wrapper .description{
		width: 95%;
		font-size: 20px;
		margin: 10px auto;
	}
	.login-wrapper .right .form-wrapper form{
		width: 95%;
		margin: 15px auto;
	}
	.login-wrapper .right .form-wrapper form .cust-form-group{
		padding: 0 15px;
	}
	.login-wrapper .right .form-wrapper form .cust-checkbox .container{
		font-size: 16px;
	}
	.login-wrapper .right .form-wrapper form .login-register-btns a{
		padding: 15px 0;
	}
	.login-wrapper .right .form-wrapper form .social-btns button{
		padding: 10px 0;
	}

	.subscriber-plan-header .navbar ul li a,
	.subscriber-plan-header .navbar .start-as-guest-btn a{
		font-size: 18px;
	}
	.subscriber-plan-header .heading h1{
		font-size: 46px;
	}
	.subscriber-plan-header .description{
		word-break: break-all;
	}
	.subscriber-plan-header .description p{
		font-size: 24px;
	}

	.pricing-plan-items{
		width: 90%;
	}
	.pricing-plan-items .pricing-plan-item .pricing-plan-item-body{
		padding: 30px 10px;
	}
	.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-price{
		font-size: 22px;
	}
	.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-price span{
		font-size: 20px;
	}
	.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-description p{
		padding: 0 10px;
	}
	.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-features ul li .tick-circle{
		width: 15%;
	}
	.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-features ul li .text{
		width: 80%;
	}
	.pricing-plan-items .pricing-plan-item .pricing-plan-item-body .plan-features ul li span{
		font-size: 16px;
	}

	.payment-card{
		width: 90%;
		margin-top: -175px;
	}
	.payment-card .card-details{
		width: 80%;
	}

	.modal{
		padding-top: 100px;
	}
	.modal-content{
		width: 80%;
	}
	.modal-content .modal-content-body .auth-code-items{
		width: 80%;
	}
	.modal-content .modal-content-body .verify-login-btn{
		width: 75%;
	}
}
@media(min-width: 769px) and (max-width: 1024px){
	.login-wrapper .left .text-wrapper h3{
		font-size: 30px;
	}
	.login-wrapper .left .text-wrapper h2{
		font-size: 36px;
	}
	.login-wrapper .left .text-wrapper p{
		font-size: 22px;
	}
	.login-wrapper .right .form-wrapper{
		padding: 20px;
	} 
	.login-wrapper .right .form-wrapper .form-img{
		margin: 0 auto;
	}
	.login-wrapper .right .form-wrapper .heading{
		font-size: 36px;
	}
	.login-wrapper .right .form-wrapper .description{
		width: 90%;
		margin: 10px auto;
	}
	.login-wrapper .right .form-wrapper form{
		width: 90%;
	}
	.login-wrapper .right .form-wrapper form .cust-checkbox .container{
		font-size: 16px;
	}

	.pricing-plan-items{
		width: 90%;
	}

	.payment-card{
		width: 80%;
	}

	.modal{
		padding-top: 100px;
	}
	.modal-content{
		width: 80%;
	}
}